@charset "UTF-8";
/* CSS Document */

.container {
	width:80%;
	margin: 0 auto;
}

img {
	width:100%;
	height: auto;
}

.box1{
	position: absolute;
	bottom: 8px;
	right:16px;
}
.box2 {
	position:fixed;
	top: 2px;
	left: 16px;
	background-color:snow;
	padding: 10px 20px;
}

.insidebox2 {
	background-color: white; 
}

.box3 {
	position: relative;
	bottom: 14px;
	left: 10px;
	
}

.box4 {
	position:sticky;
	left: 100px;
	bottom: 25px;
	background-color:#FFF5FB;
		
}
