@charset "UTF-8";
/* CSS Document */

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.body {
	font-family: "Jaini", system-ui;
	background: #000000;
	color: deeppink;
	line-height: 1.7;
}


header {
	background: #891111; 
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
	padding: 10px;

}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}


.logo {
	width: 30%;
	display: block; 
	align-content: center
	
 
}

nav ul {
	display: flex;
	list-style: none;
	gap: 30px;
	text-indent: 15px;
}

nav a {
	text-decoration: none;
	color: #000000;
	font-family: "Jaini", system-ui;
	font-weight: 600;
	font-size: 23px;
	transition: all 0.3s ease;
	
}
.nav-icons {
	display: flex;
	gap: 35px;
	margin-right: 15px;
}

.profile {
  float: right;
  font-size: 40px;
	
}


.shopping-cart {
  float: right;
  font-size: 40px;

}

.heading1 {
	color: #680707;
	text-align: center;
	margin-top:195px;
	margin-bottom: 80px;
	font-size:65px;
    font-family: "New Rocker", system-ui;
    font-weight: 350;
    font-style: normal;
	padding-top: 80px;
	padding-bottom: 20px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.bat-wing-tee{ 
	color: #680707;
	text-align: center;
	font-size:35px;
    font-family: "Jaini", system-ui;
    font-weight: 300;
    font-style: normal;
}

.dauphine-tee {
	color: #680707;
	text-align: center;
	font-size:35px;
    font-family: "Jaini", system-ui;
    font-weight: 300;
    font-style: normal;
}

.dauphine-plain-tee {
	
	color: #680707;
	text-align: center;
	font-size:35px;
    font-family: "Jaini", system-ui;
    font-weight: 300;
    font-style: normal;
	
}

.view-more {
	
	padding-top: 80px;
	display: flex;
	justify-content: center;
	
	
}

.heading2 {
	color: #680707;
	text-align: center;
	margin-top:195px;
	margin-bottom: 80px;
	font-size:65px;
    font-family: "New Rocker", system-ui;
    font-weight: 350;
    font-style: normal;
	
}


.music-video-thumbnail {
	
	padding-top: 20px;
	padding-bottom: 40px;
	display: flex;
	justify-content: center;
	
}

.heading3 {
	color: #680707;
	text-align: center;
	margin-top:195px;
	margin-bottom: 80px;
	font-size:65px;
    font-family: "New Rocker", system-ui;
    font-weight: 350;
    font-style: normal;
	
}


.container5 {
	color: #680707;
 	display: flex;
	font-size:23px;
    font-family: "Jaini", system-ui;
    font-weight: 300;
    font-style: normal;
	justify-content: center;
	justify-content: space-between;
	padding: 40px;
	
  
}

.container5 div {
  margin: 10px;
  padding: 20px;
 
 
}

hr.new1 {
  border: none; 
  height: 1px;
  background-color: #4E1F1F;
}

.container1 {
  color: #680707;
 	display: flex;
	font-size:30px;
    font-family: "Jaini", system-ui;
    font-weight: 300;
    font-style: normal;
	justify-content: center;
	justify-content: space-between;
	padding: 40px;
 
  
}

.container1 div {
  
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}


hr.new2 {
  border: none; 
  height: 1px;
  background-color: #4E1F1F;
}

.container2 {
  color: #680707;
 	display: flex;
	font-size:30px;
    font-family: "Jaini", system-ui;
    font-weight: 300;
    font-style: normal;
	justify-content: center;
	justify-content: space-between;
	padding: 40px;
 
}

.container2 div {
  
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}


hr.new3 {
   border: none; 
  height: 1px;
  background-color: #4E1F1F;
}

.container3 {
 color: #680707;
 	display: flex;
	font-size:30px;
    font-family: "Jaini", system-ui;
    font-weight: 300;
    font-style: normal;
  justify-content: center;
	justify-content: space-between;
	padding: 40px;
 
}

.container3 div {
  
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}



hr.new4 {
  border: none; 
  height: 1px;
  background-color: #4E1F1F;
}

.container4 {
  color: #680707;
 	display: flex;
	font-size:30px;
    font-family: "Jaini", system-ui;
    font-weight: 300;
    font-style: normal;
	justify-content: center;
	justify-content: space-between;
	padding: 40px;
 
  
}

.container4 div {
  
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}


.view-more {
	
	padding-top: 60px;
	display: flex;
	justify-content: center;

}


.heading4 {
	color: #680707;
	text-align: center;
	margin-top:195px;
	margin-bottom: 80px;
	font-size:65px;
    font-family: "New Rocker", system-ui;
    font-weight: 350;
    font-style: normal;
	
}

.albums1 {
	
	padding-top: 60px;
	display: flex;
	justify-content: center;
	padding-bottom: 20px;

}



.albums2 {
	
	padding-top: 60px;
	display: flex;
	justify-content: center;
}


footer {
 position: sticky;
 height: 70px;
 display: flex;
 align-items: center;
 background-color: #891111; 
 margin-top: 150px;
 padding: 50px 35px;
 
}

.Policy-info {
	font-size:20px;
	color: #2B0404;
    font-family: "Jaini", system-ui;
    font-weight: 70;
    font-style: normal;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 5px;
}


.socials-icons {
 float: right;
 font-size: 40px;
 padding-left: 1160px;
margin-bottom: 40px;
  
}











