@charset "UTF-8";
/* CSS Document */

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.body {
	font-family: "Jaini", system-ui;
	background: #000000;
	color: white;
	line-height: 1.7;
}


header {
	background: #891111; 
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
	padding: 10px;

}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 30%;
}
	

.header-container {
	display: flex;
	align-items: center;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}

 

nav ul {
	display: flex;
	list-style: none;
	gap: 30px;
	text-indent: 15px;
}

nav a {
	text-decoration: none;
	color: #000000;
	font-family: "Jaini", system-ui;
	font-weight: 600;
	font-size: 23px;
	transition: all 0.3s ease;
	
}
.nav-icons {
	display: flex;
	gap: 35px;
	margin-right: 15px;
}

.profile {
  float: right;
  font-size: 40px;
	
}


.shopping-cart {
  float: right;
  font-size: 40px;

}

.heading1 {
	color: #680707;
	text-align: center;
	margin-top:195px;
	margin-bottom: 80px;
	font-size:65px;
    font-family: "New Rocker", system-ui;
    font-weight: 350;
    font-style: normal;
	padding-top: 80px;
	padding-bottom: 20px;
}

.tickets div {
  margin: 10px;
  padding: 20px;
   font-size: 24px;
 
}

hr.new {
  border: none; 
  height: 1px;
  background-color: #4E1F1F;
	color: #680707;
	
}



.tickets {
  color: #680707;
 	display: flex;
	font-size:30px;
    font-family: "Jaini", system-ui;
    font-weight: 300;
    font-style: normal;
	justify-content: center;
	justify-content: space-between;
	padding: 40px;
 
  
}

.tickets a:link {
	color:#680707;
}
.tickets a:visited {
	color:brown;
}

.tickets a:hover {
	color:crimson;
}

.tickets a:active {
	color: #680707;
}

.artist-newsletter {
	text-align: center;
	padding-top: 70px;
}

footer {
 position: sticky;
 height: 70px;
 display: flex;
 align-items: center;
 background-color: #891111; 
 margin-top: 150px;
 padding: 50px 35px;
 
}

.Policy-info {
	font-size:20px;
	color: #2B0404;
    font-family: "Jaini", system-ui;
    font-weight: 70;
    font-style: normal;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 5px;
}


.socials-icons {
 float: right;
 font-size: 40px;
 padding-left: 1160px;
margin-bottom: 40px;
  
}

