@charset "UTF-8";
/* CSS Document */

body {
	background-color: #FFE0ED;
	margin-left: 10%;
	margin-right: 5%;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
header {
	background-color: #F5BCD2;
	padding-bottom: 20px;
}
nav {
	color: aliceblue;
}
ul {
	
}

li{
	list-style-type: none;
	display: inline;
	margin-right: 10px;
	
}

.posttime {
	color:hotpink;
	font-size: 0.7em;
}
h2, p, h3 {
	color:palevioletred;
}